.social-container{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    color: rgb(232, 232, 244);
  }
  
  .social_SocialItemList{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .social_SocialItemList::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(232, 232, 244);
    margin: 0px auto;
  }
  
  .social_SocialItem:last-of-type {
    margin-bottom: 20px;
  }
  
  
  .social_link{
    padding: 10px;
  }
  
  .social_link svg{
    width: 18px;
    height: 18px;
  }
  
  svg {
    fill: currentColor;
    vertical-align: middle;
  }